<div>
	<div class="partyName"><p>{{game.name}}<p></div>
	<div class="gameArea">
		<div class="adversaries">
			<p class="playerName">{{game.adversary.id}}</p>
			<img class="playerAvatar" ng-src="/images/player.png" width="100" height="100"/>
			<div class="life">Vie: {{game.adversary.life}}</div>
			<div class="bullet">Balles: {{game.adversary.bullet}}</div>
			<div>L'adversaire a fait : {{game.adversary.actionPlayed.name}}</div>
		</div>
		<div class="timer">
			<md-progress-circular md-mode="determinate" value="{{roundTimer}}" ng-value="{{roundTimer}}" md-diameter="100"></md-progress-circular>
		</div>
		<div class="currentPlayer"> 
			<div class="actions">
				<span ng-repeat="action in game.actions">
					<button type="submit" class="btn btn-default" ng-click="game.player.play(action.id)">{{action.name}}</button>
				</span>
			</div>
			<div class="playerDisplay">
				<img class="playerAvatar" ng-src="/images/player.png" width="100" height="100"/>
				<div class="life">Vie: {{game.player.life}}</div> 
				<div class="bullet">Balles: {{game.player.bullet}}</div>
				<p class="playerName">{{game.player.id}}</p>
			</div>
		</div>
	</div>
</div>	
